.container {
    position: fixed;
    min-height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    padding: 20px;
    background-color: transparent;
    color: #000;

    &.scrolled {
        background-color: #000;
        color: #fff;
    }

    .nav_container {
        width: 200px;
    }
}